<div data-api="stats" class="hidden" hidden>
    <!-- CURRENTLY ONLINE -->
    <div data-api="onlineTotalNumber"><!-- |total_users| --></div>
    <div data-api="onlineGuestsNumber"><!-- |total_guests| --></div>
    <div data-api="onlineAnonNumber"><!-- |total_anons| --></div>
    <div data-api="onlineMembersNumber"><!-- |total_mems| --></div>
    <div data-api="onlineList"><!-- |online_list| --></div>
    <div data-api="onlineLegend"><!-- |online_legend| --></div>
    <div data-api="onlineListLinks"><!-- |list_links| --></div>
    <!-- ONLINE TODAY -->
    <div data-api="onlineTodayNumber"><!-- |online_today| --></div>
    <div data-api="onlineTodayList"><!-- |online_today_list| --></div>
    <div data-api="onlineTodayMostNumber"><!-- |most_online_oneday| --></div>
    <div data-api="onlineTodayMostDate"><!-- |most_online_oneday_date| --></div>
    <!-- STATS -->
    <div data-api="totalPostsNumber"><!-- |total_posts| --></div>
    <div data-api="totalMembersNumber"><!-- |total_mem_reg| --></div>
    <div data-api="newestMemberLink"><!-- |newest_member| --></div>
    <div data-api="mostOnlineNumber"><!-- |most_online| --></div>
    <div data-api="mostOnlineDate"><!-- |most_online_date| --></div>
    <!-- EVENTS -->
    <div data-api="eventsList"><!-- |events| --></div>
    <div data-api="eventsLimit"><!-- |events_limit| --></div>
    <div data-api="birthdaysNumber"><!-- |birthdays| --></div>
    <div data-api="birthdaysList"><!-- |birthdays_list| --></div>
    <!-- STORE -->
    <div data-api="storeTotalProductsNumber"><!-- |store_products| --></div>
    <div data-api="storeTotalValueNumber"><!-- |store_value| --></div>
    <div data-api="storeTotalPointsNumber"><!-- |points_total| --></div>
    <div data-api="storeBankNumber"><!-- |points_banked| --></div>
    <div data-api="storeCirculationNumber"><!-- |points_circulated| --></div>
    <div data-api="storeRichestMemberLink"><!-- |richest_member| --></div>
    <div data-api="storeRichestMemberValueNumber"><!-- |richest_member_total| --></div>
    <!-- OTHER -->
    <div data-api="quickLoginForm"><!-- |quick_login| --></div>
    <div data-api="topLinks"><!-- |toplinks| --></div>
</div>