<div data-api="forum" class="hidden" hidden>
    <div data-api="id"><!-- |forum_id| --></div>
    <div data-api="categoryId"><!-- |cat_id| --></div>
    <div data-api="name"><!-- |name_text| --></div>
    <div data-api="nameLink"><!-- |name| --></div>
    <div data-api="url"><!-- |forum_url| --></div>
    <div data-api="description"><!-- |description_clean| --></div>
    <div data-api="descriptionHTML"><!-- |description| --></div>
    <div data-api="topicsNumber"><!-- |topics| --></div>
    <div data-api="repliesNumber"><!-- |replies| --></div>
    <div data-api="postsNumber"><!-- |total_posts| --></div>
    <div data-api="viewingNumber"><!-- |viewing| --></div>
    <div data-api="lastpostDate"><!-- |last_post| --></div>
    <div data-api="lastpostTopicId"><!-- |last_topic_id| --></div>
    <div data-api="lastpostTopicTitle"><!-- |last_topic_fulltext| --></div>
    <div data-api="lastpostTopicTitleShort"><!-- |last_topic_text| --></div>
    <div data-api="lastpostTopicTitleLink"><!-- |last_topic| --></div>
    <div data-api="lastpostTopicUrl"><!-- |last_topic_url| --></div>
    <div data-api="lastpostAuthorId"><!-- |last_poster_id| --></div>
    <div data-api="lastpostAuthorName"><!-- |last_poster_text| --></div>
    <div data-api="lastpostAuthorNameLink"><!-- |last_poster| --></div>
    <div data-api="lastPostAuthorUrl"><!-- |last_poster_url| --></div>
    <div data-api="lastUnreadLink"><!-- |last_unread| --></div>
    <div data-api="subforumsString"><!-- |subforums| --></div>
    <div data-api="subforumsList"><!-- |subforums_list| --></div>
    <div data-api="moderatorsList"><!-- |moderators| --></div>
    <div data-api="marker"><!-- |img_new_post| --></div>
    <div data-api="newPostClass"><!-- |class_new_post| --></div>
</div>