<div data-api="profile">
    <div data-api="id"><!-- |id| --></div>
    <div data-api="parentId"><!-- |parent_id| --></div>
    <div data-api="name"><!-- |name| --> </div>
    <div data-api="avatarImage"><!-- |avatar| --></div>
    <div data-api="avatarUrl"><!-- |avatar_url| --></div>
    <div data-api="photoImage"><!-- |photo| --></div>
    <div data-api="photoUrl"><!-- |photo_url| --></div>
    <div data-api="reputation"><!-- |reputation| --></div>
    <div data-api="title"><!-- |title| --></div>
    <div data-api="location"><!-- |location| --></div>
    <div data-api="birthday"><!-- |birthday| --></div>
    <div data-api="age"><!-- |age| --></div>
    <div data-api="websiteLink"><!-- |website| --></div>
    <div data-api="websiteUrl"><!-- |website_url| --></div>
    <div data-api="interests"><!-- |interests| --></div>
    <div data-api="joinedDate"><!-- |joined| --></div>
    <div data-api="localTime"><!-- |local_time| --></div>
    <div data-api="postsPerDay"><!-- |posts_day| --></div>
    <div data-api="status"><!-- |status| --></div>
    <div data-api="activity"><!-- |activity| --></div>
    <div data-api="lastActiveDate"><!-- |last_activity| --></div>
    <div data-api="lastPostDate"><!-- |last_post| --></div>
    <div data-api="awardsImages"><!-- |awards| --></div>
    <div data-api="awardsTotalNumber"><!-- |awards_total| --></div>
    <div data-api="totalPostsNumber"><!-- |posts| --></div>
    <div data-api="pmUrl"><!-- |pm| --></div>
    <div data-api="emailUrl"><!-- |email| --></div>
    <div data-api="signature"><!-- |signature| --></div>
    <div data-api="visitorsJSON"><!-- |visitors| --></div>
    <div data-api="commentsJSON"><!-- |comments| --></div>
    <div data-api="commentsForm"><!-- |comment_form| --></div>
    <div data-api="friendsJSON"><!-- |friends| --></div>
    <div data-api="subaccountsDropdown"><!-- |subaccounts| --></div>
    <div data-api="groupId"><!-- |g_id| --></div>
    <div data-api="groupName"><!-- |group| --></div>
</div>