<div data-api="member" class="hidden" hidden>
    <div data-api="nameSearchInput"><!-- |search_input| --></div>
    <div data-api="groupSelectDropdown"><!-- |group_dropdown| --></div>
    <div data-api="sortByDropdown"><!-- |sortby_dropdown| --></div>
    <div data-api="orderDropdown"><!-- |order_dropdown| --></div>
    <div data-api="maxDropdown"><!-- |max_dropdown| --></div>
    <div data-api="photoOnlyCheckbox"><!-- |photoonly_checkbox| --></div>
    <div data-api="pages"><!-- |pages| --></div>
</div>